:root{
    color: #ffffff;
    background-color: #323232;
    --color-text-main:  #ffffff;
    --color-background-header:  #272727;

    --mobile: 900px;
}


@media (prefers-color-scheme: light) {
    :root {
      color: #213547;
      background-color: #ffffff;
      --color-background-header:  #dedede;
      --color-text-main:  #213547;
    }
  }